:root {
    --roxo: #5E5998;
    --glauco: #768DB2;
    --space-cadet: #1B1840;
    --powder-blue: #B9C8E1;
}

header {
    margin: 10px 20px;
}

header ul li {
    display: inline-block;
    vertical-align: middle;
    margin: 10px 20px;
}

ul {
    list-style-type: none;
}

nav {
    justify-content: space-between;
}

.header-list {
    float: right;
}

.logo {
    max-width: 150px;
    max-height: 100px;
}

a {
    text-decoration: none;
    color: black;
    transition: .3s;
}

a:hover {
    text-decoration: underline;
}

button {
    border: 0;
    color: white;
    font-weight: bold;
}

.my-btn {
    padding: 10px;
    background-color: var(--glauco);
    border-radius: 15px;
    transition: .3s;
}

.my-btn:hover {
    background-color: var(--roxo);
}

.content-center {
    display: flex;
    justify-content: center;
}

.title {
    text-align: center;
}

.banner-text {
    text-align: left;
    position: absolute;
    left: 10%;
    top: 10%;
}

.banner-text h1 {
    font-weight: bolder;
    margin-bottom: 0;
    padding: 5px;
    -webkit-text-stroke: 1px rgba(0, 0, 0, .5);
}

.banner-text h2 {
    margin-top: 0;
    padding: 5px;
    font-weight: bold;
    -webkit-text-stroke: 1px rgba(0, 0, 0, .5);
}

.avatar-img {
    border-radius: 50%;
}

.cartao {
    max-width: 250px;
}